    body{
        background-color: gray;
        color: gold;
        font: mono-space;
      }
      h1{
        display: inline-block;
        width: 100px;
        height: 50px;
        background-color: white;
      }
      p{
        text-align: center;
        font-size: 8px;
      }
      ul li{
        font-size: 8px;
        text-decoration: none;
        text-align: center;
        animation: 0.3s;
      }
      hover:ul li{
        fonr-size: 10px;
      }
